.slider {
  max-width: 1280px;
  margin: auto;
  overflow: hidden;
}

.slides {
  max-width: inherit;
  display: flex;
}
.slide {
  display: flex;
  min-width: 100%;
  gap: 20px;
  justify-content: space-between;
}

@media (max-width: 730px) {
  .slide {
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  .slider{
    max-width: 80vw;
  }
}

.hovered {
  background: linear-gradient(to top, blue, white);
  animation: moveBackground 1s forwards;
}

.ativo{
  transition: opacity ease-in-out 0.3s;
  background: rgba(0, 0, 0, 0.1);
  cursor:default; 
  
}