.cardservicos{
    box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.25);
}

.sombraServico{
    box-shadow: inset 0 0 3px 1px rgba(0, 107, 100, 0.2);
  }


.anima{
    animation: modalServico 300ms forwards;
    transition: all ease-in-out ; 
    opacity: 0;
  }
  
  @keyframes modalServico {
    from {
      scale: 0.4;
      opacity: 0.3;
    }
    to {
      scale: 1;
      opacity: 1;
    }
  }



.animacaoCardServicos {
    animation: scrollAnimation linear forwards;
    opacity: 1;
    animation-timeline: view();
    animation-range-start:-150px; 
    animation-range-end: 300px;
  }
  
  @keyframes scrollAnimation {
    from {
      transform: translateY(-250px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }